name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  check:
    name: "Tests / OS: ${{ matrix.os }} - ${{ matrix.channel }}-${{ matrix.rust_target }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        exclude:
        - os: macos-10.15
          rust_target: x86_64-gnu
        - os: macos-10.15
          rust_target: x86_64-msvc
        - os: windows-2019
          rust_target: x86_64-apple-darwin
        - os: ubuntu-20.04
          rust_target: x86_64-msvc
        - os: ubuntu-20.04
          rust_target: x86_64-apple-darwin
        channel:
        - stable
        - beta
        - nightly
        os:
        - macos-10.15
        - windows-2019
        - ubuntu-20.04
        rust_target:
        - x86_64-gnu
        - x86_64-msvc
        - x86_64-apple-darwin

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install Rust Toolchain
      run: rustup default ${{ matrix.channel }}-${{ matrix.rust_target }}

    - name: Install cargo-hack
      run: cargo install cargo-hack

    - name: Powerset
      run: cargo hack test --feature-powerset --lib --optional-deps "std serde" --depth 3 --skip rustc-dep-of-std

    - name: Docs
      run: cargo doc --features example_generated

    - name: Smoke test
      run: cargo run --manifest-path tests/smoke-test/Cargo.toml

  benches:
    name: Benches
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        run: rustup default nightly

      - name: Default features
        uses: actions-rs/cargo@v1
        with:
          command: bench
          args: --no-run

  msrv:
    name: MSRV
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        run: rustup default 1.56.0

      - name: Default features
        run: cargo build
        working-directory: ./tests/smoke-test

  embedded:
    name: Build (embedded)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        run: |
          rustup default nightly
          rustup target add thumbv6m-none-eabi

      - name: Default features
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: -Z avoid-dev-deps --features example_generated --target thumbv6m-none-eabi
